#content-container {
  // background-color: var(--color-background);
  border-width: var(--custom-container-border-width);
  border-color: var(--color-border);
  border-radius: var(--custom-container-radius);
  border-style: solid;
}

.module-card {
  background-color: var(--color-background);
  backdrop-filter: blur(var(--custom-block-background-blur)) saturate(var(--custom-block-saturation));
}
